In [1]:
import pandas as pd
import requests

In [2]:
url = 'http://localhost:3000/users'
headers = {'Content-Type': 'application/json'}

In [3]:
path_to_csv = "/Users/oson/Desktop/text-summarization/transliteration/client/reviews.csv"

In [4]:
df = pd.read_csv(path_to_csv)
df.head()

                                              review sentiment
0                  The product quality is excellent!  positive
1               I am not satisfied with the service.  negative
2  The delivery was fast and the package was intact.  positive

In [5]:
out = []

In [6]:
for inp_text in df['review']:
    data = {'data': inp_text}
    response = requests.post(url, json=data, headers=headers)
    out.append(response.text)

In [8]:
df['manipuri'] = out
df.head()

,review,sentiment,manipuri
0,The product quality is excellent!,positive,ꯊꯦ ꯄ꯭ꯔꯣꯗꯨꯆꯠ ꯀ꯭ꯋꯨꯑꯂꯤꯠꯌ ꯏꯁ ꯑꯦꯀ꯭ꯁꯆꯦꯜꯂꯦꯟꯇ!
1,I am not satisfied with the service.,negative,ꯏ ꯑꯝ ꯅꯣꯠ ꯁꯥꯇꯤꯁꯐꯤꯑꯦꯗ ꯋꯤꯊ ꯊꯦ ꯁꯦꯔꯚꯤꯆꯦ꯫
2,The delivery was fast and the package was intact.,positive,ꯊꯦ ꯗꯦꯂꯤꯚꯦꯔꯌ ꯋꯥꯁ ꯐꯥꯁꯠ ꯑꯟꯗ ꯊꯦ ꯄꯥꯆꯀꯥꯒꯦ ꯋꯥꯁ ꯏꯟꯇꯥꯆꯠ꯫

In [9]:
df.to_csv('output.csv', index=False)